<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Automation Test Suite" verbose="1" parallel="false" thread-count="1">
    
    <!-- Listeners for custom reporting and logging -->
    <listeners>
        <listener class-name="selenium.automation.framework.listeners.TestListener"/>
    </listeners>
    
    <!-- Login Tests -->
    <test name="Login Test Suite" preserve-order="true">
        <classes>
            <class name="selenium.automation.framework.tests.SignUp.TestCase01"/>
        </classes>
    </test>
</suite>
